
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    location / {
        if ($request_method = 'OPTIONS') {
          add_header 'Access-Control-Allow-Origin' '*';
          add_header 'Content-Length' 0;
          return 204;
        }

        proxy_set_header Host $host;
        proxy_hide_header Access-Control-Allow-Origin;
        add_header 'Access-Control-Allow-Origin' '*';
        proxy_pass http://${SRS_STACK_SERVER};
    }
}
