[Unit]
Description=A control system for SRS, to terraform the open-source video platform
After=network.target network-online.target docker.service
Wants=docker.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/oryx/mgmt/bootstrap
KillSignal=SIGTERM
TimeoutStopSec=30
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target

