[Unit]
Description=A control system for SRS, to terraform the open-source video platform
After=network.target network-online.target docker.service nginx.service redis.service
Wants=docker.service nginx.service redis.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/srs-terraform/mgmt/bootstrap
StandardOutput=/usr/local/srs-terraform/mgmt/trace.log
StandardError=/usr/local/srs-terraform/mgmt/error.log
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target

