name: "Release"

on:
  push:
    tags:
      - v1*

jobs:
  k8s:
    name: release-k8s
    runs-on: ubuntu-20.04

    steps:
      ################################################################
      # Git checkout
      - name: Checkout repository
        uses: actions/checkout@v2

      ################################################################
      # Build
      # The github.ref is, for example, refs/tags/v1.0.52
      # Generate variables like:
      #   SRS_TAG=v1.0.52
      #   SRS_MAJOR=1
      # @see https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions#setting-an-environment-variable
      - name: Generate varaiables
        run: |
          SRS_TAG=$(echo ${{ github.ref }}| awk -F '/' '{print $3}')
          echo "SRS_TAG=$SRS_TAG" >> $GITHUB_ENV
          SRS_MAJOR=$(echo $SRS_TAG| cut -c 2)
          echo "SRS_MAJOR=$SRS_MAJOR" >> $GITHUB_ENV
      # Build SRS image
      - name: Build SRS docker image
        run: |
          echo "Release ossrs/srs-terraform-releases:$SRS_TAG"
          docker build --tag ossrs/srs-terraform-releases:$SRS_TAG -f releases/Dockerfile .

      ################################################################
      # Aliyun ACR
      - name: Login Aliyun docker hub
        uses: aliyun/acr-login@v1
        with:
          login-server: https://registry.cn-hangzhou.aliyuncs.com
          username: "${{ secrets.ACR_USERNAME }}"
          password: "${{ secrets.ACR_PASSWORD }}"
      - name: Push to Aliyun docker hub
        run: |
          docker tag ossrs/srs-terraform-releases:$SRS_TAG registry.cn-hangzhou.aliyuncs.com/ossrs/srs-terraform-releases:$SRS_TAG
          docker tag ossrs/srs-terraform-releases:$SRS_TAG registry.cn-hangzhou.aliyuncs.com/ossrs/srs-terraform-releases:$SRS_MAJOR
          docker push --all-tags registry.cn-hangzhou.aliyuncs.com/ossrs/srs-terraform-releases

      ################################################################
      # K8S
      - name: Setup KUBCONFIG for Aliyun ACK
        run: |-
          KUBECONFIG=$RUNNER_TEMP/kubeconfig_$(date +%s)
          echo "${{ secrets.KUBCONFIG }}" > $KUBECONFIG
          echo "KUBECONFIG=$KUBECONFIG" >> $GITHUB_ENV
      # K8S for terraform versions
      - name: Release terraform versions to Aliyun ACK
        run: |-
          kubectl set image deploy/terraform-deploy versions=registry.cn-hangzhou.aliyuncs.com/ossrs/srs-terraform-releases:$SRS_TAG
          kubectl describe deploy/terraform-deploy
