name: Test for commits

on:
  push:
    branches: [main, lighthouse]

jobs:
  test:
    name: Test for commits
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # See https://github.com/actions/setup-node
      - name: Setup the npm node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: |
            mgmt/package-lock.json
            mgmt/ui/package-lock.json
            releases/package-lock.json
            hooks/package-lock.json

      - name: Install and build mgmt
        run: |
          cd mgmt && npm install && npm run build
